<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/build/theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/theme.css') }}" />
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <title>{{ title }}</title>

    <style>
        main {
            min-height: calc(100vh - 88px);
            /* 88px is the combined height of the navbar and footer */
        }
    </style>

</head>

<body class="bg-gray-900 text-gray-200">
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center flex-no-shrink text-orange-600 mr-6">
            <a class="font-semibold text-xl tracking-tight" href="/">PACEr</a>
        </div>
        <div class="block lg:hidden">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-orange-600 border-orange-600 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden transition-all duration-500 ease-in-out"
            id="nav-content">
            <div class="text-sm lg:flex-grow">
                <a href="/pacer"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Rechner
                </a>
                <a href="/projektInfo"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Projekt Info
                </a>
                <a href="/report"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Probleme melden
                </a>
                <a href="/aboutUs"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Über uns
                </a>
                <a href="/impressum"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 transition-colors duration-200">
                    Impressum
                </a>
            </div>
        </div>
    </nav>

    <main class="m-8">{% block content %} {% endblock %}</main>


    <footer class="relative bg-gray-800 text-gray-200 mt-12 bottom-0 w-full">
        <div class="container mx-auto px-8">
            <div class="w-full flex flex-col md:flex-row py-6">
                <div class="flex-1 mb-6">
                    <a class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                        PACEr
                    </a>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Links</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Rechner</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-400 hover:text-orange-500">Projekt
                                Info</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Probleme
                                Melden</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-400 hover:text-orange-500">Über
                                uns</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Impressum</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Legal</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Privacy</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Terms</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Social</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Facebook</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">LinkedIn</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        //? Javascript to toggle the Burger menu
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }

        // Get viewport height
        let vh = window.innerHeight * 0.01;
        // Set document variable
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        // On window resize, recalculate viewport height
        window.addEventListener('resize', () => {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        });
    </script>

    <script src="{{ url_for('static', filename='/js/dist/flowbite.min.js') }}"></script>

</body>


</html>