<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}" />
    <title> PACEr {{ title }}</title>

    <style>
        main {
            min-height: calc(100vh - 88px);
            /* 88px is the combined height of the navbar and footer */
        }
    </style>

</head>

<body class="bg-gray-900 text-gray-200">
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center flex-no-shrink text-orange-600 mr-6">
            <a class="font-semibold text-xl tracking-tight" href="/projektInfo">PACEr</a>
        </div>
        <div class="block lg:hidden">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-orange-600 border-orange-600 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden transition-all duration-500 ease-in-out"
            id="nav-content">
            <div class="text-sm lg:flex-grow">
                <a href="/pacer"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Rechner
                </a>
                <a href="/reportProblem"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Probleme melden
                </a>
                <a href="/aboutUs"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 mr-4 transition-colors duration-200">
                    Über uns
                </a>
                <a href="/impressum"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-orange-600 transition-colors duration-200">
                    Impressum
                </a>
            </div>
        </div>
    </nav>
    {% if notification %}
    <div id="popup" class="fixed inset-0 flex items-center justify-center z-50">
        <div class="bg-gray-900 w-64 p-4 rounded shadow-lg">
            <div class="flex justify-between">
                <strong class="font-bold text-orange-600">{{notificationName}}</strong>
                <button id="closeBtn" class="text-gray-400 hover:text-orange-600 focus:outline-none">
                    <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <title>Close</title>
                        <path
                            d="M14.348 5.652c.488.488.488 1.28 0 1.768L10 10.234l-4.348-4.814c-.488-.488-1.28-.488-1.768 0-.488.488-.488 1.28 0 1.768L8.766 10l-4.348 4.814c-.488.488-.488 1.28 0 1.768.488.488 1.28.488 1.768 0L10 11.766l4.348 4.814c.488.488 1.28.488 1.768 0 .488-.488.488-1.28 0-1.768L11.234 10l4.348-4.814c.488-.488.488-1.28 0-1.768-.488-.488-1.28-.488-1.768 0L10 8.234l-4.348-4.814c-.488-.488-1.28-.488-1.768 0-.488.488-.488 1.28 0 1.768L8.766 10l-4.348 4.814c-.488.488-.488 1.28 0 1.768.488.488 1.28.488 1.768 0L10 11.766l4.348 4.814c.488.488 1.28.488 1.768 0 .488-.488.488-1.28 0-1.768L11.234 10l4.348-4.814c.488-.488.488-1.28 0-1.768-.488-.488-1.28-.488-1.768 0L10 8.234z" />
                    </svg>
                </button>
            </div>
            <span class="block text-gray-400">{{ notification }}</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    {% endif %}

    <main class="m-2">{% block content %} {% endblock %}</main>


    <footer class="relative bg-gray-800 text-gray-200 mt-12 bottom-0 w-full">
        <div class="container mx-auto px-8">
            <div class="w-full flex flex-col md:flex-row py-6">
                <div class="flex-1 mb-6">
                    <a class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                        PACEr
                    </a>
                    <p class="text-gray-400 text-sm">&copy; 2023 | All rights reserved</p>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Links</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/pacer"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Rechner</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/reportProblem"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Probleme
                                Melden</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/aboutUs" class="no-underline hover:underline text-gray-400 hover:text-orange-500">Über
                                uns</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/impressum"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Impressum</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Legal</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/impressum"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Privacy</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="/impressum"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Terms</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Social</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="https://www.facebook.com/profile.php?id=100012000550092"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Facebook</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="https://www.instagram.com/dark4doener/"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Instagram</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="https://twitter.com/dark4doener"
                                class="no-underline hover:underline text-gray-400 hover:text-orange-500">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>


</html>