{% extends "layout.html" %} {% block content %}
<header class="bg-gray-800">
    <h1 class="text-4xl font-bold text-orange-600 p-4">Willkommen bei PACEr</h1>
</header>

<main class="container mx-auto p-4">
    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Über PACEr</h2>
        <p class="text-gray-400">
            PACEr steht für "Präzise Abstands-Calculierung für ein Erfolgreiches Marathon" und ist eine App, die Turnierfahrern die Arbeit des Zeitenrechnens abnimmt. Im Marathon ist es wichtig, dass die Gespanne zur richtigen Zeit ins Ziel einfahren, um keine Strafpunkte zu erhalten oder gar auszuscheiden. Mit PACEr können Sie sicherstellen, dass Sie immer im Zeitplan bleiben und Ihre Leistung auf dem höchsten Niveau halten.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Der Fahrsport</h2>
        <p class="text-gray-400">
            Der Fahrsport ist das Kutsche fahren mit ein, zwei oder vier Pferden. Ob Freizeitfahrer oder Turnierfahrer, in den vergangenen Jahren haben sich immer mehr Pferdebegeisterte dieser Disziplin zugewandt. Einspänner, Zweispänner, Vierspänner, Tandem, Random, Pferde oder Ponys – alles ist möglich.
        </p>
        <p class="text-gray-400">
            Im Fahrsport gibt es Dressurprüfungen, Geländeprüfungen und das Hindernisfahren. Die Kombinierte Wertung ergibt sich aus allen drei Prüfungen. In der Dressur stehen die Gymnastizierung des Pferdes und die Überprüfung des Ausbildungsstandes im Vordergrund. Beim Hindernisfahren durch einen Kegelparcours werden Schnelligkeit, Geschicklichkeit, Gehorsam und Durchlässigkeit der Pferde abgefragt. Herzstück eines jeden Fahrturniers ist die Geländeprüfung (früher Marathon) mit ihren spektakulären Hindernissen.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Der Marathon</h2>
        <p class="text-gray-400">
            Der Marathon ist die Königsdisziplin im Fahrsport. Fahrer, Groom, Pferde und Material werden hier bis ans Limit beansprucht. Auf einer bis zu 20 km langen, in 3 bis 5 Abschnitte (sog. Phasen) aufgeteilten Strecke müssen Ausdauer und Geschicklichkeit der Pferde, Fahrkunst und Gefühl für Geschwindigkeit des Fahrers sowie die gute Zusammenarbeit mit den Grooms unter Beweis gestellt werden.
        </p>
        <p class="text-gray-400">
            In den Phasen A, B, C und D muss mit Hilfe der Stoppuhr und des Geschwindigkeitsgefühls des Grooms und der alle 1000m auf der Strecke aufgestellten Distanzangaben, die vorgeschriebene Geschwindigkeit eingehalten werden - genau so wie früher die Postkutschen ihren Fahrplan einhalten mussten. Richtig spannend wird es aber in der letzten Phase (Phase E). Hier sind maximal 8 natürliche und künstliche Hindernisse, welche Wasser, Erdhügel, Brücken und regelrechte Labyrinthe enthalten, möglichst schnell zu durchfahren.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Wie PACEr helfen kann</h2>
        <p class="text-gray-400">
            Mit PACEr können Sie sicherstellen, dass Sie immer im Zeitplan bleiben und Ihre Leistung auf dem höchsten Niveau halten. Unsere App berechnet automatisch die vorgeschriebene Geschwindigkeit für jede Phase des Marathons und zeigt Ihnen an, ob Sie zu schnell oder zu langsam sind. Sie können auch Ihre eigene Geschwindigkeit eingeben und PACEr wird Ihnen sagen, wie viel Zeit Sie haben, um das nächste Hindernis zu erreichen.
        </p>
        <p class="text-gray-400">
            PACEr ist einfach zu bedienen und kann auf jedem Smartphone oder Tablet verwendet werden. Laden Sie die App herunter und starten Sie noch heute mit Ihrem Training für den nächsten Marathon.
        </p>
    </section>
</main>
{% endblock %}