{% extends "layout.html" %} {% block content %}
<header class="bg-gray-800 py-2 px-4 md:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-orange-600 md:text-left text-center">PACEr</h1>
    <h2 class="text-2xl font-bold md:text-left text-center">
        <span class="text-orange-600">P</span>räzise 
        <span class="text-orange-600">A</span>bstands
        <span class="text-orange-600">C</span>alculierung für ein 
        <span class="text-orange-600">E</span>rfolgreiches Ma<span class="text-orange-600">r</span>athon
    </h2>
</header>


<div class="container mx-auto p-4 lg:p-8">
    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Was ist PACEr?</h2>
        <p class="text-gray-400 mt-4">
            Es ist eine App, die Turnierfahrern hilft, ihre Fahrzeiten präzise zu berechnen. Im Marathon müssen die
            Fahrer das Ziel zum richtigen Zeitpunkt erreichen, um Strafpunkte zu vermeiden. PACEr nimmt den Fahrern
            diese mühsame Aufgabe ab und übernimmt die gesamte Berechnung.
        </p>
        <p class="text-gray-400">Die zugrunde liegende analoge Berechnung ist keine Zauberei. Zuerst müssen die Minuten
            in Sekunden umgerechnet werden. Dann nimmt man eine der vorgegebenen Zeiten (Bestzeit, Erlaubte Zeit,
            Höchstzeit) und dividiert sie durch die Gesamtstrecke in Metern. Anschließend multipliziert man das Ergebnis
            mit 1000, um den Pace für den ersten Kilometer zu erhalten. Die Zeiten für die weiteren Etappenpunkte können
            dann durch einfache Addition (oder Multiplikation) ermittelt werden.</p>
        <div class="container mx-auto">
            <section class="my-8 mb-16">
                <div class="bg-gray-800 p-4 rounded-lg">
                    <p class="text-orange-600 font-bold">Formel:</p>
                    <code class="text-orange-400">Pace_1km = (Zeit_in_Sekunden / Streckenlänge_in_Metern) * 1000</code>
                    <p class="text-orange-600 font-bold mt-4">Beispielrechnung:</p>
                    <p class="text-orange-400">Streckenlänge: 4900m<br>
                        Bestzeit (bz): 16:37 (997 Sekunden)<br>
                        Erlaubte Zeit (ez): 19:37 (1177 Sekunden)<br>
                        Höchstzeit (hz): 45:14 (2714 Sekunden)</p>
                    <p class="text-orange-600 font-bold mt-4">Berechnung der Pace für den ersten Kilometer:</p>
                    <p class="text-orange-400">bz_Pace_1km = (997 / 4900) * 1000 = 203,47 Sekunden (03:23)<br>
                        ez_Pace_1km = (1177 / 4900) * 1000 = 240,20 Sekunden (04:00)<br>
                        hz_Pace_1km = (2714 / 4900) * 1000 = 553,88 Sekunden (09:13)</p>
                </div>
            </section>

            <div class="container mx-auto">
                <section class="my-8 mb-16">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 p-4">
                            <img src="{{ url_for('static', filename='img/projektInfo/fahrsport.webp') }}" alt="Dressur"
                                class="w-full">
                        </div>
                        <div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
                            <h2 class="text-2xl font-bold text-orange-600 text-center">Der Fahrsport</h2>
                            <p class="text-gray-400 mt-4 text-center">
                                Der Fahrsport besteht grundsätzlich aus 3 Disziplinen (Vollprüfung). Wenn alle
                                Disziplinen bestritten wurden, d.h. die Dressur, das Geländefahren (oder Marathon) und
                                das Hindernisfahren, werden alle drei Disziplinen gewertet und man erhält eine Punktzahl
                                aus welcher die Rangierung der Teilnehmer eruiert wird. Auch gibt es reduzierte
                                Prüfungen respektive Kurzprüfungen bei welchen eine Auswahl der Disziplinen – zum
                                Beispiel Dressur mit Hindernisfahren oder Dressur mit kombinierter Geländeprüfung
                                (Derby) – gefahren und gewertet werden.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="my-8 mb-16">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
                            <h2 class="text-2xl font-bold text-orange-600 text-center">Dressur</h2>
                            <p class="text-gray-400 text-center">
                                Bei der Dressur geht es darum, sein Gespann von seiner besten Seite zu präsentieren.
                                Dabei geht es aber nicht nur um das Erscheinungsbild der Pferde und Kutsche, sondern
                                auch des Fahrers. Außerdem muss ein vorgeschriebener Parcours abgefahren werden, der von
                                der FEI bzw. vom SVPS vorgeschrieben wird. Das Ganze ergibt am Schluss eine Note, die
                                aus der Präsentation des Gespannes, der Präzision des gefahrenen Dressurprogramms sowie
                                der Durchlässigkeit der Pferde gewertet wird.
                            </p>
                        </div>
                        <div class="w-full md:w-1/2 p-4">
                            <img src="{{ url_for('static', filename='img/projektInfo/dressur.webp') }}" alt="Dressur"
                                class="w-full">
                        </div>
                    </div>
                </section>

                <section class="my-8 mb-16">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 p-4">
                            <img src="{{ url_for('static', filename='img/projektInfo/marathon.webp') }}" alt="Gelände"
                                class="w-full">
                        </div>
                        <div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
                            <h2 class="text-2xl font-bold text-orange-600 text-center">Gelände</h2>
                            <p class="text-gray-400 text-center">
                                Die Geländeprüfung gilt für den Zuschauer als der spannendste Teil des Fahrens. Mit viel
                                Geschick und Wendigkeit müssen sowohl die Pferde als auch die Fahrer beweisen, wie
                                schnell sie um die Hindernisse fahren können. Dabei zählt aber meist nicht nur
                                ausschließlich die Geschwindigkeit, sondern auch die Wendigkeit der Pferde ist ein
                                wichtiges Element. Die Geländeprüfung besteht aus 3 Phasen: der A-Phase, der D-Phase und
                                der E-Phase. Dabei gibt es vorgeschriebene Geschwindigkeiten, die je nach Gespannsart
                                (1-Spänner, 2-Spänner oder 4-Spänner) und Pferdegröße (Pony oder Großpferde) eingehalten
                                werden müssen.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="my-8 mb-16">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
                            <h2 class="text-2xl font-bold text-orange-600 text-center">Hindernisfahren</h2>
                            <p class="text-gray-400 text-center">
                                Im Hindernisfahren gilt es, einen abgesteckten Parcours, der aus maximal 20 Hindernissen
                                (meist Pylonen) besteht, abzufahren. Dabei geht es darum, das Gespann geschickt und mit
                                einer vorgeschriebenen Geschwindigkeit fehlerlos durch den Parcours zu bringen. Je nach
                                Qualifikation des Fahrers (L, M oder S) haben die Gespanne eine Spannweite von maximal
                                40 cm bis 20 cm zwischen Wagen und dem Hindernis zur Verfügung.
                            </p>
                        </div>
                        <div class="w-full md:w-1/2 p-4">
                            <img src="{{ url_for('static', filename='img/projektInfo/hindernisfahren.webp') }}"
                                alt="Hindernisfahren" class="w-full">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {% endblock %}