{% extends "layout.html" %} {% block content %}
<header class="bg-gray-800">
    <h1 class="text-4xl font-bold text-orange-600 p-4">Willkommen auf der Infoseite</h1>
</header>

<main class="container mx-auto p-4">
    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Der Fahrsport</h2>
        <p class="text-gray-400">
            Der Fahrsport besteht grundsätzlich aus 3 Disziplinen (Vollprüfung). Wenn alle Disziplinen bestritten wurden, d.h. die Dressur, das Geländefahren (oder Marathon) und das Hindernisfahren, werden alle drei Disziplinen gewertet und man erhält eine Punktzahl aus welcher die Rangierung der Teilnehmer eruiert wird. Auch gibt es reduzierte Prüfungen respektive Kurzprüfungen bei welchen eine Auswahl der Disziplinen – zum Beispiel Dressur mit Hindernisfahren oder Dressur mit kombinierter Geländeprüfung (Derby) – gefahren und gewertet werden.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Dressur</h2>
        <p class="text-gray-400">
            Bei der Dressur geht es darum, sein Gespann von seiner besten Seite zu präsentieren. Dabei geht es aber nicht nur um das Erscheinungsbild der Pferde und Kutsche, sondern auch des Fahrers. Außerdem muss ein vorgeschriebener Parcours abgefahren werden, der von der FEI bzw. vom SVPS vorgeschrieben wird. Das Ganze ergibt am Schluss eine Note, die aus der Präsentation des Gespannes, der Präzision des gefahrenen Dressurprogramms sowie der Durchlässigkeit der Pferde gewertet wird.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Gelände</h2>
        <p class="text-gray-400">
            Die Geländeprüfung gilt für den Zuschauer als der spannendste Teil des Fahrens. Mit viel Geschick und Wendigkeit müssen sowohl die Pferde als auch die Fahrer beweisen, wie schnell sie um die Hindernisse fahren können. Dabei zählt aber meist nicht nur ausschließlich die Geschwindigkeit, sondern auch die Wendigkeit der Pferde ist ein wichtiges Element. Die Geländeprüfung besteht aus 3 Phasen: der A-Phase, der D-Phase und der E-Phase. Dabei gibt es vorgeschriebene Geschwindigkeiten, die je nach Gespannsart (1-Spänner, 2-Spänner oder 4-Spänner) und Pferdegröße (Pony oder Großpferde) eingehalten werden müssen.
        </p>
    </section>

    <section class="my-8">
        <h2 class="text-2xl font-bold text-orange-600">Hindernisfahren</h2>
        <p class="text-gray-400">
            Im Hindernisfahren gilt es, einen abgesteckten Parcours, der aus maximal 20 Hindernissen (meist Pylonen) besteht, abzufahren. Dabei geht es darum, das Gespann geschickt und mit einer vorgeschriebenen Geschwindigkeit fehlerlos durch den Parcours zu bringen. Je nach Qualifikation des Fahrers (L, M oder S) haben die Gespanne eine Spannweite von maximal 40 cm bis 20 cm zwischen Wagen und dem Hindernis zur Verfügung.
        </p>
    </section>
</main>


<!-- Die Appname PACEr steht für "Präzise Abstands-Calculierung für ein Erfolgreiches Marathon" und soll vorallem Turnierfahrern die Arbeit des Zeitenrechnens abnehemn. Im marathon ist es wichtig das die Gespanne zur richtigen zeit in das Ziel einfahren um keine Strafpunkte zu erhalten oder gar auszuscheiden. -->
{% endblock %}