{% extends "layout.html" %} {% block content %}
<header class="bg-gray-800 py-2 px-4 md:px-6 lg:px-8">
    <div class="flex items-center flex-col md:flex-row">
        <h1 class="text-4xl font-bold text-orange-600 md:text-left text-center mb-2 md:mb-0">Rechner</h1>
        <!--? Start switch toggle-->
        <div class="flex items-center md:ml-auto mt-4 md:mt-0">
            <label class="text-sm font-medium text-orange-600">Alt</label>
            <label class="relative inline-flex items-center cursor-pointer ml-2">
                <input type="checkbox" id="toggle-switch" value="" class="sr-only peer" checked>
                <div
                    class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-orange-300 dark:peer-focus:ring-orange-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-500">
                </div>
            </label>
            <label class="text-sm font-medium text-orange-600 ml-2">Neu</label>
        </div>
        <!--? End switch toggle-->
    </div>
</header>

{% if result is none %}
<form action="{{ url_for('calculator.pacer') }}" method="POST" class="container mx-auto px-4 py-8" id="form_calculator">
    <div class="mb-4">
        <label for="laenge" class="block text-gray-400 mb-2">Streckenlänge (m)</label>
        <input type="number" id="laenge" name="laenge"
            class="bg-gray-900 text-gray-400 rounded w-full py-2 px-3 leading-tight border-2 border-gray-800 focus:outline-none focus:shadow-outline-orange"
            placeholder="Streckenlänge (m)" required value="{{ laenge }}" />
        <div id="laenge-error" class="text-red-600 hidden">
            Es sollte eine positive ganze Zahl die größer als 0m ist angegeben werden.
        </div>
    </div>

    <div class="mb-4">
        <label for="art" class="block text-gray-400 mb-2">Art der Strecke</label>
        <div class="relative">
            <select id="art" name="art"
                class="bg-gray-900 text-gray-400 rounded w-full py-2 px-3 leading-tight border-2 border-gray-800 focus:outline-none focus:shadow-outline-orange"
                required value="{{ art }}" onchange="updateKmhOptions(this.value)">
                <option value="" disabled selected>Bitte wählen</option>
                <option value="hindernisstrecke">Hindernisstrecke</option>
                <option value="wegstrecke">Wegstrecke</option>
                <option value="schrittstrecke">Schrittstrecke</option>
            </select>
        </div>
    </div>

    <div class="mb-4" id="tempoInputField" style="display: none">
        <label for="bestzeit" class="block text-gray-400 mb-2">Tempo in km/h</label>
        <div class="flex">
            <select id="kmh" name="kmh"
                class="bg-gray-900 text-gray-400 rounded w-full py-2 px-3 leading-tight border-2 border-gray-800 focus:outline-none focus:shadow-outline-orange"
                required value="{{ kmh }}">
                <option value="" disabled selected>Bitte wählen</option>
            </select>
        </div>
        <div id="bestzeit-error" class="text-red-600 hidden">
            Es darf keine negatives Tempo eingegeben werden und es muss eine Ganze
            Zahl sein.
        </div>
    </div>

    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
        <div class="mb-6 sm:mb-0">
            <button id="submit-button" type="submit"
                class="text-orange-600 bg-gray-800 hover:text-orange-600 hover:bg-gray-700 rounded px-4 py-2 focus:outline-none focus:shadow-outline-orange">
                Berechnen
            </button>
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='js/pacer/pacer.js') }}"></script>
{% endif %} {% if result is not none %}

<div class="container mx-auto px-4 py-8">
    <div class="mt-4">
        <div class="flex justify-center mt-4">
            <div
                class="flex flex-wrap bg-gray-800 text-gray-400 rounded-lg px-4 py-2 justify-center md:justify-between">
                <div class="w-full md:w-auto mb-4 md:mb-0 md:text-right md:mx-8">
                    <p class="text-center md:text-left"><span class="font-semibold">Streckenlänge:</span> {{ laenge }} m
                    </p>
                </div>
                <div class="w-full md:w-auto mb-4 md:mb-0 md:text-center md:mx-8">
                    <p class="text-center md:text-left"><span class="font-semibold">Geschwindigkeit:</span> {{ kmh }}
                        km/h</p>
                </div>
                <div class="w-full md:w-auto md:text-right md:mx-8">
                    <p class="text-center md:text-left"><span class="font-semibold">Art der Strecke:</span> <span
                            id="capitalized-art">{{ art }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto">

        <table class="table-auto w-full text-gray-400 mt-8">
            <thead>
                <tr>
                    <th class="px-4 py-2">Streckenlänge (m)</th>
                    {% if not art == 'schrittstrecke' %}
                        <th class="px-4 py-2">Bestzeit</th> 
                    {% endif %}
                    <th class="px-4 py-2">Erlaubte Zeit</th>
                    <th class="px-4 py-2">Höchstzeit</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in ez_result.items() %}
                    <tr class="bg-gray-900 hover:bg-gray-800">
                        <td class="border-l border-gray-700 px-4 py-2 text-center">{{ key }}</td>
                        {% if not art == 'schrittstrecke' %}
                            <td class="border-l border-gray-700 px-4 py-2 text-center">{{ bz_result[key].min }}:{{'{:02}'.format(bz_result[key].sec) }}</td>
                        {% endif %}
                        <td class="border-l border-gray-700 px-4 py-2 text-center">{{ value.min }}:{{'{:02}'.format(value.sec) }}</td>
                        <td class="border-l border-gray-700 px-4 py-2 text-center">{{ hz_result[key].min }}:{{'{:02}'.format(hz_result[key].sec) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>



<script src="{{ url_for('static', filename='js/pacer/pacerresult.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/pacer/pacerSwitch.js') }}"></script>
{% endblock %}